*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  height: 100vh;
  /* background-image: url('');*/
  background-color: #3B0C0C;
  color: white;
  padding: 0;
  position: relative;
  font-family: helvetica;
}

.nav{
  display: flex;
  margin:0 0 20px;
}

.img {
  width: 170px;
  height: 75px;
  margin: 10px 0 0 60px;
}



.landing h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 120x;
  margin-top: 90px;
  font-size: 1.3em;
}

.landing p {
  font-size: 1.1em;
  text-align: center;
  margin: 20px auto 0;
  width: 350px;
  line-height: 1;
  margin-bottom: 25px;
} 

.btn {
  display: block;
  width: 160px;
  margin: 0 auto;
  padding: 14px 17px;
  background-color:#5bc0de;
  border-color: #5bc0de;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  color: white;
}

.nav_list {
  display: flex;
  width: 500px;
  margin-left: auto;
  margin-top: 20px;
  font-size: 1.1rem;
  align-items: center;
}

.list_item.active {
  border: 2px solid #de2e29;
}

.list_item a{
  color: #de2e29;
  text-decoration: none;
}

.list_item a:hover{
  color: #de2e29;
  text-decoration: none;
  
}

.list_item {
  flex: 1;
  text-align: center;
  list-style: none;
  color: #de2e29;
  padding: 8px;
  margin-right: 30px; 
  border: 2px solid transparent;
}

.list_item:hover {
  border: 2px solid #de2e29;
}

.footer {
  display: flex;
  justify-content: space-around;
  position:absolute;
  bottom: 0;
  border-top: 10px solid white;
  padding: 30px 0 15px;
  background-color: #3B0C0C;
  width: 100%;
}


.nav-bg {
  background-color: #3B0C0C;
  padding: 0 30px 5px;
} 

.bg2 {
  height: 90%;
  padding: 0;
}

.bg {
  padding: 0;
  background-image: url('./images/background_img.jpg');
  background-repeat: no-repeat;
  background-color: #3B0C0C;
  background-blend-mode: overlay;
  background-size: cover;
  height: 90%;
}

.social{
  display: flex;
  justify-content: space-between;
  color: #5bc0de;
}

.social_icon {
  margin-left: 40px;
}
